@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "나눔스퀘어", sans-serif;
}
a, a:hover { text-decoration: none; color: inherit; }
a, button, label { cursor: pointer; }
p { line-height: 1.5em; }

.segoe { font-family: "Segoe UI", sans-serif; }


.text-red { color: #ea2a2a; }
.text-yellow { color: #ffce07; }

.bg-red { background-color: #ea2a2a; }
.bg-yellow { background-color: #ffce07; }

.bg-pale-white { background: #f8f8f8; }

.nowrap { white-space: nowrap; }
.padding { padding-top: 80px; padding-bottom: 80px; }
.position-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.text-shadow { text-shadow: 0 2px 7px #000a; }
.text-ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; }

.fx-9 { font-size: 4em; }
.fx-8 { font-size: 3em; }
.fx-7 { font-size: 2.5em; }
.fx-6 { font-size: 2em; }
.fx-5 { font-size: 1.8em; }
.fx-4 { font-size: 1.4em; }
.fx-3 { font-size: 1.2em; }
.fx-2 { font-size: 1.1em; }

.fx-1 { font-size: 1em; }
.fx-n1 { font-size: 0.95em; }
.fx-n2 { font-size: 0.9em; }
.fx-n3 { font-size: 0.85em; }
.fx-n4 { font-size: 0.8em; }


.hx-50 { height: 50px; }
.hx-100 { height: 100px; }
.hx-150 { height: 150px; }
.hx-200 { height: 200px; }
.hx-250 { height: 250px; }
.hx-300 { height: 300px; }
.hx-350 { height: 350px; }



@media(max-width: 992px){
    .fx-sm-8 { font-size: 3em; }
    .fx-sm-7 { font-size: 2.5em; }
    .fx-sm-6 { font-size: 2em; }
    .fx-sm-5 { font-size: 1.8em; }
    .fx-sm-4 { font-size: 1.4em; }
    .fx-sm-3 { font-size: 1.2em; }
    .fx-sm-2 { font-size: 1.1em; }

    .fx-sm-1 { font-size: 1em; }
    .fx-sm-n1 { font-size: 0.95em; }
    .fx-sm-n2 { font-size: 0.9em; }
    .fx-sm-n3 { font-size: 0.85em; }
    .fx-sm-n4 { font-size: 0.8em; }   
}

/* 더보기 버튼 */

.read-more {
    padding: 1em 3.5em;
    font-size: 1.1rem;
    background-color: #3330;
    transition: 0.3s;
    border: 1px solid #333;
    color: #333;
}

.read-more:hover {
    transform: scale(0.9);
    background-color: #333;
    color: #fff;
}

/* / 더보기 버튼 */

/* 테두리 있는 버튼 */

.border-btn {
    padding: 0.5em 1em;
    border: 1px solid #555;
    color: #555;
    background-color: transparent;
}

/* / 테두리 있는 버튼 */

/* 빨강 버튼 */

.red-btn {
    padding: 0.5em 1em;
    border: none;
    color: #fff;
    background-color: #ea2a2a;
}

/* / 빨강 버튼 */


/* 헤더 영역 */

header {
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

header nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

header .nav-item {
    margin: 0 1.5em;
    font-size: 0.95em;
    font-weight: bold;
    color: #333;
    
    position: relative;
}

header .nav-item::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #333;
    transition: 0.3s;
}

header .nav-item:hover::after {
    width: 100%;
}

header .auth {
    display: flex;
    align-items: center;
    height: 100%;
}

header .auth-item {
    font-size: 0.85em;
    color: #333;
    font-weight: bold;
    position: relative;
    padding: 0.25em 0.8em;
    margin-left: 0.8em;
}

header .auth-item a { position: relative; }

header .auth-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #333;
    opacity: 0;
    transition: 0.3s;
}

header .auth-item:hover { color: #fff; }
header .auth-item:hover::before {
    width: 100%;
    opacity: 1;
}

header .menu {
    display: inline-block;
    width: 50px;
    height: 70px;
    position: relative;
    margin: 0;
    transition: transform 0.5s;
    cursor: pointer;
}

header .menu span {
    position: absolute;
    width: 30px;
    height: 1px;
    left: calc(50% - 15px);
    top: 50%;
    background-color: #333;
    transition: transform 0.5s;
}

header .menu span:nth-child(1) { transform: translateY(-8px); }
header .menu span:nth-child(3) { transform: translateY( 8px); }

header .menu-box {
    position: fixed;
    left: 100%;
    top: 70px;
    width: 300px;
    height: 100%;
    z-index: 100;
    background-color: #f8f8f8;
    border-left: 1px solid #eee;
    transition: 0.5s;
}

header .menu:hover ~ .menu-box {
    transform: translateX(-100%);
}
.menu-box:hover {
    left: calc(100% - 300px);
}



/* / 헤더 영역 */


/* 비주얼 영역 */
.visual {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.visual .box,
.visual .box > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.v-images > .box > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
}
/* .v-images .image-1 { background-image: url(../images/slides/1.jpg) } */
/* .v-images .image-2 { background-image: url(../images/slides/2.jpg) } */
/* .v-images .image-3 { background-image: url(../images/slides/3.jpg) } */
.v-images img { width: 100%; height: 100%; object-fit: cover; }

.visual .button-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1140px;
    height: 100%;
    z-index: 10;
}

.visual .left-button,
.visual .right-button {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
}

.visual .left-button::before,
.visual .right-button::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 50%;
    height: 50%;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

@media(max-width: 992px){
    .visual .left-button,
    .visual .right-button {
        width: 50px;
        height: 50px;
    }
}

.visual .left-button { left: 5vw; }
.visual .right-button { right: 5vw; transform: translateY(-50%) rotate(180deg); }

.visual label { display: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; }


@keyframes slideImage {
    0%      { opacity: 0; transform: translateY(-100%); }
    22.222% { opacity: 0; transform: translateY(-100%); }
    33.333% { opacity: 1; transform: translateY(0); }
    55.555% { opacity: 1; transform: translateY(0); }
    66.666% { opacity: 0; transform: translateY(100%); }
    100%    { opacity: 0; transform: translateY(100%); }
}

.visual .box > div { animation: slideImage 9s infinite; }
.visual .box > div:nth-child(1) { animation-delay: -3s; }
.visual .box > div:nth-child(3) { animation-delay: -6s; }


#slide-1:checked ~ .visual .box:nth-child(1),
#slide-2:checked ~ .visual .box:nth-child(2),
#slide-3:checked ~ .visual .box:nth-child(3) 
{ opacity: 1; top: 0; z-index: 1; }

#slide-1:checked ~ .visual .box:nth-child(2),
#slide-2:checked ~ .visual .box:nth-child(3),
#slide-3:checked ~ .visual .box:nth-child(1) 
{ opacity: 0; top: -100%; }

#slide-1:checked ~ .visual .box:nth-child(3),
#slide-2:checked ~ .visual .box:nth-child(1),
#slide-3:checked ~ .visual .box:nth-child(2) 
{ opacity: 0; top: 100%; z-index: -1; }

.visual .box { transition: 0.5s; }

#slide-1:checked ~ .visual .left-button .button-3,
#slide-2:checked ~ .visual .left-button .button-1,
#slide-3:checked ~ .visual .left-button .button-2
{ display: block; }

#slide-1:checked ~ .visual .right-button .button-2,
#slide-2:checked ~ .visual .right-button .button-3,
#slide-3:checked ~ .visual .right-button .button-1
{ display: block; }


.v-text {
    z-index: 10;
}

/* / 비주얼 영역 */

/* 하우징 영역 */
.housing-item { position: relative; }
.housing-item .image {
    width: 100%;
    position: relative;
    height: 350px;
    overflow: hidden;
}

.housing-item .image::before,
.housing-item .image::after {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    transition: opacity 0.5s;
    font-size: 1.2em;
    font-weight: bold;
}

.housing-item .image::before { content: 'Before'; }
.housing-item .image::after { content: 'After'; opacity: 0; }

.housing-item .image:hover::before { opacity: 0; }
.housing-item .image:hover::after { opacity: 1; }


.housing-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.housing-item img:last-child {
    position: absolute;
    left: 100%;
    top: 0;
    transition: 0.5s;
}

.housing-item .image:hover img:last-child { left: 0; }

.housing-item .info {
    margin-top: 2em; 
    padding-top: 0.5em;
    position: relative;
    text-align: center;
}

.housing-item .info::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -5px;
    width: 2rem;
    height: 1px;
    background-color: #222;
    transform: translateX(-50%);
}

.housing-item strong {
    font-size: 1.1em;
    font-weight: 100;
}

/* / 하우징 영역 */


/* 전문가 영역 */
.builder {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.builder-item {
    width: 100%;
    height: 350px;
    position: relative;
    transition: transform 1s;
}

.builder-item .front,
.builder-item .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.builder-item img { width: 100%; height: 100%; object-fit: cover; }

.builder-item .back {
    transform: rotate3d(0, 1, 0, 180deg);
    z-index: -1;
    transition-delay: 0.25s;
}

.builder:hover .builder-item { transform: rotate3d(0, 1, 0, 180deg); }
.builder:hover .back { z-index: 1; }

.builder-item .plus {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 5em;
    height: 5em;
}

.builder-item .plus span {
    position: absolute;
    display: block;
    margin-top: 25px;
    height: 1px;
    width: 50px;
    background-color: #333;
}

.builder-item .plus span:first-child { transform: rotate(90deg); }


/* / 전문가 영역 */


/* 전문가 시공 후기 영역 */
.review-item { padding: 1.25em; border: 1px solid #ddd; }
.review-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

/* / 전문가 시공 후기 영역 */

/* 푸터 영역 */
footer { background-color: #333; }
.copyright { font-size: 0.9em; color: #aaa; }
/* / 푸터 영역 */


/* 스토어 */

/* 스토어 - 장바구니 */

.cart-list-wrap { overflow: auto; }
.cart-list { display: flex; flex-direction: column; min-width: 768px; }
.cart-list .cart-item { display: flex; height: 128px; align-items: center; }
.cart-list .cart-item:not(:last-child) { border-bottom: 1px solid #eaeaea; }
.cart-list img { width: 80px; height: 80px; object-fit: cover; }

.cart .image { flex: 0 0 80px; max-width: 80px; }
.cart .info { flex: 0 0 30%; max-width: 30%; text-align: left; }
.cart .price, .cart .count { flex: 0 0 15%; max-width: 15%; }
.cart .total { flex: 0 0 25%; max-width: 25%; }
.cart .remove { flex: 0 0 calc(15% - 80px); max-width: calc(15% - 80px); }

.cart-list .i-count {
    width: 80px;
    border-radius: 50px;
    border: 1px solid #ddd;
    outline: none;
    color: #555;
    font-size: 0.9em;
    padding: 5px 20px;
}

.cart-list .remove button {
    border: none;
    background: none;
    color: #888;
    font-size: 1.3em;
    outline: none;
}

.cart .btn-submit {
    background: #ea2a2a;
    border: none;
    color: #fff;
    padding: .8em 2.5em;
    font-size: 1.1em;
    font-weight: bold;
}

/* / 스토어 - 장바구니 */

/* 스토어 - 검색 영역 */
.store .search {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    border: 1px solid #ddd;
}

.store .search .icon {
    position: absolute;
    left: 5px;
    top: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ea2a2a;
    text-align: center;
}

.store .search input {
    position: absolute;
    left: 45px;
    top: 0;
    width: calc(100% - 85px);
    height: 45px;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 1em;

}

.store .search input::placeholder { color: #888; }

/* / 스토어 - 검색 영역 */

/* 스토어 - 물품 영역 */
.store { min-height: 500px; }

.store-item { user-select: none; }

.store-item .image {
    position: relative;
    transition: 0.5s;
    border-radius: 10px;
    padding: 10px;
}

.store-item .image.active { 
    transition: none;
    opacity: 0.7;
    z-index: 1500;
}

.store-item .image img { transition: 0.3s; }
.store-item .image.active img { transform: scale(0.7); }

.store-item .image {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.store-item .image img { width: 100%; height: 100%; object-fit: cover; }

.store .drag-box {
    background-color: #ea2a2a;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0 1px 3px 1px #0002;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: 0.4s;
}

.store .drag-box::before {
    content: '';
    position: absolute;
    right: 20px;
    top: -5.5px;
    background-color: #ea2a2a;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    transform: rotate(45deg);
}

#drag-area:checked ~ .store .drag-box {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

/* / 스토어 - 물품 영역 */


/* / 스토어 */